<app-custom-stepper>
  <!-- Step 1 -->
  <cdk-step>
    <div class="row questions-col">
      <div class="col-md-8 col-6  question-align">
        <p class="questions">1. How Long Have You been Having a Fever For ? </p>
      </div>
      <div class="col-md-4 col-6">
        <ng-select class="day-select" [searchable]='false' [(ngModel)]="Day" [items]="list" bindLabel="day">
        </ng-select>
      </div>
    </div>
    <div class="row questions-col">
      <div class="col-md-8 col-6 question-align">
        <p class="questions">2. Do You Have Wet or Dry Cough ? </p>
      </div>
      <div class="col-md-4 col-6 radio-button-label">
        <div>
          <input type="radio" value="Wet" name="cough" class="radio-button">
          <span class="radio-label"> Wet</span>
        </div>
        <div>
          <input type="radio" value="Dry" name="cough" class="radio-button">
          <span class="radio-label"> Dry</span>
        </div>
      </div>
    </div>

    <div class="row questions-col">
      <div class="col-md-8 col-6  question-align">
        <p class="questions">3. Does Your Chest Hurt When You Cough ? </p>
      </div>
      <div class="col-md-4 col-6  radio-button-label">
        <div>
          <input type="radio" value="Yes" name="coughHurt1" class="radio-button">
          <span class="radio-label"> Yes</span>
        </div>
        <div>
          <input type="radio" value="No" name="coughHurt1" class="radio-button">
          <span class="radio-label"> No</span>
        </div>
      </div>
    </div>
    <div class="row questions-col">
      <div class="col-md-8  col-6 question-align">
        <p class="questions">4. Does Your Chest Hurt When You Cough ? </p>
      </div>
      <div class="col-md-4  col-6 radio-button-label">
        <div>
          <input type="radio" value="Yes" name="coughHurt" class="radio-button">
          <span class="radio-label"> Yes</span>
        </div>
        <div>
          <input type="radio" value="No" name="coughHurt" class="radio-button">
          <span class="radio-label"> No</span>
        </div>
      </div>
    </div>
  </cdk-step>
  <!-- Step 2 -->
  <cdk-step>
    <div class="row questions-col">
      <div class="col-md-8 col-6  question-align">
        <p class="questions">1. How Long Have You been Having a Fever For ? </p>
      </div>
      <div class="col-md-4 col-6">
        <ng-select class="day-select" [searchable]='false' [(ngModel)]="Day" [items]="list" bindLabel="day">
        </ng-select>
      </div>
    </div>
    <div class="row questions-col">
      <div class="col-md-8 col-6 question-align">
        <p class="questions">2. Do You Have Wet or Dry Cough ? </p>
      </div>
      <div class="col-md-4 col-6 radio-button-label">
        <div>
          <input type="radio" value="Wet" name="cough" class="radio-button">
          <span class="radio-label"> Wet</span>
        </div>
        <div>
          <input type="radio" value="Dry" name="cough" class="radio-button">
          <span class="radio-label"> Dry</span>
        </div>
      </div>
    </div>

    <div class="row questions-col">
      <div class="col-md-8 col-6  question-align">
        <p class="questions">3. Does Your Chest Hurt When You Cough ? </p>
      </div>
      <div class="col-md-4 col-6  radio-button-label">
        <div>
          <input type="radio" value="Yes" name="coughHurt1" class="radio-button">
          <span class="radio-label"> Yes</span>
        </div>
        <div>
          <input type="radio" value="No" name="coughHurt1" class="radio-button">
          <span class="radio-label"> No</span>
        </div>
      </div>
    </div>
    <div class="row questions-col">
      <div class="col-md-8  col-6 question-align">
        <p class="questions">4. Does Your Chest Hurt When You Cough ? </p>
      </div>
      <div class="col-md-4  col-6 radio-button-label">
        <div>
          <input type="radio" value="Yes" name="coughHurt" class="radio-button">
          <span class="radio-label"> Yes</span>
        </div>
        <div>
          <input type="radio" value="No" name="coughHurt" class="radio-button">
          <span class="radio-label"> No</span>
        </div>
      </div>
    </div>
  </cdk-step>
  <!-- Step 3 -->
  <cdk-step>
    <div class="row questions-col">
      <div class="col-md-8 col-6  question-align">
        <p class="questions">1. How Long Have You been Having a Fever For ? </p>
      </div>
      <div class="col-md-4 col-6">
        <ng-select class="day-select" [searchable]='false' [(ngModel)]="Day" [items]="list" bindLabel="day">
        </ng-select>
      </div>
    </div>
    <div class="row questions-col">
      <div class="col-md-8 col-6 question-align">
        <p class="questions">2. Do You Have Wet or Dry Cough ? </p>
      </div>
      <div class="col-md-4 col-6 radio-button-label">
        <div>
          <input type="radio" value="Wet" name="cough" class="radio-button">
          <span class="radio-label"> Wet</span>
        </div>
        <div>
          <input type="radio" value="Dry" name="cough" class="radio-button">
          <span class="radio-label"> Dry</span>
        </div>
      </div>
    </div>

    <div class="row questions-col">
      <div class="col-md-8 col-6  question-align">
        <p class="questions">3. Does Your Chest Hurt When You Cough ? </p>
      </div>
      <div class="col-md-4 col-6  radio-button-label">
        <div>
          <input type="radio" value="Yes" name="coughHurt1" class="radio-button">
          <span class="radio-label"> Yes</span>
        </div>
        <div>
          <input type="radio" value="No" name="coughHurt1" class="radio-button">
          <span class="radio-label"> No</span>
        </div>
      </div>
    </div>
    <div class="row questions-col">
      <div class="col-md-8  col-6 question-align">
        <p class="questions">4.Upload an Image of Your Rashes? </p>
      </div>
      <div class="col-md-4  col-6 radio-button-label">
        <div>
          <input type="radio" value="Yes" name="coughHurt" class="radio-button">
          <span class="radio-label"> Yes</span>
        </div>
        <div>
          <input type="radio" value="No" name="coughHurt" class="radio-button">
          <span class="radio-label"> No</span>
        </div>
      </div>
    </div>
  </cdk-step>
  <!-- Step 4 -->
  <cdk-step>
    <div class="row questions-col">
      <div class="col-md-8 col-6 question-align">
        <p class="questions">7. Do You Have Wet or Dry Cough ? </p>
      </div>
      <div class="col-md-4 col-6 radio-button-label">
        <div>
          <input type="radio" value="Wet" name="cough" class="radio-button">
          <span class="radio-label"> Wet</span>
        </div>
        <div>
          <input type="radio" value="Dry" name="cough" class="radio-button">
          <span class="radio-label"> Dry</span>
        </div>
      </div>
    </div>
    <div class="row questions-col">
      <div class="col-md-8 col-6  question-align">
        <p class="questions">8. Does Your Chest Hurt When You Cough ? </p>
      </div>
      <div class="col-md-4 col-6  radio-button-label">
        <div>
          <input type="radio" value="Yes" name="coughHurt1" class="radio-button">
          <span class="radio-label"> Yes</span>
        </div>
        <div>
          <input type="radio" value="No" name="coughHurt1" class="radio-button">
          <span class="radio-label"> No</span>
        </div>
      </div>
    </div>
    <!-- Upload Image -->
    <div class="row questions-col">
      <div class="col-md-8 col-6 question-align">
        <p class="questions mb-1  ">9.Upload an image of your rashes</p>
        <!--Image MD SM-->
        <div class="upload-img-div">
          <img class="upload-img" src="../../../assets/image/example.jpg" />
        </div>
      </div>
      <!-- LG -->
      <div class="col-md-4 col-6 input-div">
        <div class="text-div">
          <input type="text" class="input-color input-text" placeholder="Enter here" />
        </div>

        <div class="file-div">
          <button class="custom-text input-color input-file">
            Upload an image<i class='fas arrow-icon'>&#xf30c;</i>
          </button>
          <input type="file" />
        </div>
      </div>
      <!-- MD SM -->
      <div class="col-md-4 col-6 upload-img-div">
        <div class="row">
          <button class="input-color image-btn">Take Photo</button>
        </div>
        <div class="row">
          <button class="input-color image-btn">Upload Image</button>
        </div>
        <div class="row">
          <button class="input-color image-btn">Save Image</button>
        </div>
      </div>
    </div>
  </cdk-step>
</app-custom-stepper>