<div class="main-classes">
  <app-custom-stepper (updatePreviousIndex)='updatePreviousIndex($event)' [lastIndex]="lastIndex"
    [questions]="questions" [selectedSymptoms]='selectedSymptoms' [formValid]='form.valid'>
    <cdk-step #step1="cdkStep">
      <form [formGroup]="form">
        <div *ngFor="let question of step;let i=index;last as isLast">
          <div class="row questions-col" *ngIf="!question.dependent">
            <div class="col-md-8 col-6  question-align">
              <p class="questions">{{i+1}}. {{ question.question}} </p>
            </div>
            <div class="col-md-4 col-6" *ngIf="question.type==='DropDown'">
              <ng-select class="day-select" (change)="changeRadioValue(i,question.related,isLast)" [searchable]='false'
                formControlName={{question.name}} [items]="question.options"> </ng-select>
            </div>
            <div class="col-md-4 col-6 radio-button-label"
              [ngStyle]="{'flex-wrap': question.options.length>2?'wrap':''}" *ngIf="question.type==='Radio'">
              <div *ngFor="let value of question.options">
                <label class="container">
                  <input type="radio" type="radio" [formControlName]=question.name class="radio-button"
                    (click)="changeRadioValue(i,question.related,isLast,value)" [value]="value.key">
                  <span class="radio-label"> {{value.key}}</span>
                  <span class="checkmark"> </span>
                </label>
              </div>
            </div>

            <div class="col-md-4 col-6 radio-button-label" *ngIf="question.type==='Free-Text'">
              <ng-select #select (change)="changeRadioValue(i,question.related,isLast)" [items]="medicine"
                [multiple]="true" maxSelectedItems="2" bindLabel="name" formControlName={{question.name}}
                class="custom-input">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                  <div class="ng-value" *ngFor="let item of (items ? items.slice(0,5): []);let i = index">
                    <span class="ng-value-label">{{item.name}}</span>
                    <span class="ng-value-icon right" aria-hidden="true">,</span>
                  </div>
                  <div class="ng-value" *ngIf="items.length > 1">
                    <span class="ng-value-label">{{items.length - 1}} more...</span>
                  </div>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      </form>
    </cdk-step>
  </app-custom-stepper>
</div>