<div id="question-component">
  <div class="col-md-12 clear-text">
    <span aria-hidden="true" class="cross-icon" (click)="modalRef.hide()">&times;</span>
    <span class="display-hide"> Clear</span>
  </div>
  <div class="col-md-12 header-text">
    Help us understand your symptoms better so that we can help you
  </div>
</div>
<div class="header-step-texts">
  <div *ngFor="let step of index ;last as isLast" class="header-steps">
    <div class="steps-header-text">{{isLast?'Done':'Step'}}</div>
    <div class="stepper-circle">
      <span [ngClass]="{'bs-stepper-circle-active':currentIndex===step,
                'bs-stepper-circle':currentIndex!==step}">{{step}}</span>
      <div [ngStyle]="{'display:none': isLast}" [ngClass]="{'stepper-line-active': currentIndex===step ,
                      'class-none':isLast,'stepper-line-disable':currentIndex !==step}">
      </div>
    </div>
  </div>
</div>


<div [style.display]="selected ? 'block' : 'none'" style="padding:20px;height: 100%;">
  <ng-container [ngTemplateOutlet]="selected.content">

    <div class="step-navigation-bar" *ngIf="currentIndex < isLast" (click)="incrementIndex()">
      <button class="next-button" [disabled]=!formValid cdkStepperNext>Next</button>
    </div>
    <div class="step-navigation-bar">
      <button class="next-button" [disabled]=!formValid *ngIf='currentIndex===isLast'
        (click)="showResult()">Done</button>
    </div>
  </ng-container>
</div>