.main {
  background: white;
  height: 100%;
}

::ng-deep .modal-dialog {
  max-width: 660px;
}

/**
* Text css
*/
.text-md {
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 0.1838236px;
}

.title {
  margin-top: 30px;
  height: 39px;
  font-size: 31px;
  line-height: 39px;
  letter-spacing: 0.2279413px;
}

p {
  margin-top: 0;
  margin-bottom: 0.7rem;
  text-align: left;
}

.cross-icon {
  float: left;
  padding-left: 30px;
}

/**
* Alignment css
*/

.dir-row {
  display: flex;
  flex-direction: row;
}

/**
* Image box
*/
.details {
  max-width: 600px;
  margin: 30px auto;
  font-size: 18px;
}

.box {
  width: 300px;
  border: 1px solid #979797;
  background: #f05b4d;
  margin-bottom: unset;
  padding: 0px !important;
}

.info {
  padding-left: 30px;
}

.buy {
  margin-top: 40px;
}

.done {
  padding: 10px;
  font-size: 25px;
  background: white;
  border: 2px solid #f05b4d;
  color: #f05b4d;
}

.done:hover {
  padding: 10px;
  font-size: 25px;
  background: #f05b4d;
  color: white;
}
.cross-icon {
  display: none;
}

.image-style {
  position: relative;
  height: 100%;
  width: 100%;
}

/**
* Mobile view
*/
@media (max-width: 650px) {
  .main {
    background: white;
    height: auto;
    margin-bottom: 50px;
  }

  app-medicine-model {
    height: auto;
    overflow: auto;
  }

  ::ng-deep .modal-content {
    height: 100% !important;
  }
  ::ng-deep .modal-dialog {
    max-width: 500px;
    overflow: auto;
  }

  .details {
    margin: 30px 50px;
  }

  .dir-row {
    flex-direction: column;
    display: flex;
  }

  .info {
    padding-left: unset;
    padding-top: 30px;
  }

  .buy {
    margin-top: unset;
  }

  .box {
    width: auto;
    min-width: 249px;
    min-height: 121px;
  }

  .cross-icon {
    display: none;
  }
}

@media (max-width: 500px) {
  ::ng-deep .modal-dialog {
    max-width: 100%;
    margin: auto;
    height: 100%;
  }

  .title {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: unset;
    letter-spacing: 0.1470589px;
  }

  .text-md {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1315046px;
  }

  .details {
    margin: 10px;
  }

  .info {
    padding-left: unset;
    padding-top: 10px;
  }

  .done {
    padding: 5px;
    height: 43px;
    border: 2px solid #f05b4d;
    background: white;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.2005348px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #f05b4d !important;
  }

  .done:active {
    padding: 5px;
    height: 43px;
    border: 2px solid #f05b4d;
    background: #f05b4d;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.2005348px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: white !important;
  }

  .done:hover {
    padding: 5px;
    height: 43px;
    border: 2px solid #f05b4d;
    background: #f05b4d;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.2005348px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: white !important;
  }

  .cross-icon {
    display: unset;
    float: left;
    padding-left: 10px;
  }
}
