<div class="main">
  <div class="body">
    <!-- text -->
    <div class="main-text align-center">
      Hi, how are you feeling today?
    </div>
    <!-- search bar -->
    <div class="align-center">

      <ng-select #select [items]="list" [multiple]="true" bindLabel="value" [(ngModel)]="selectedSymptoms"
        class="custom-input" placeholder="Click here to enter your symptoms" notFoundText="click to add more symptoms"
        maxSelectedItems="5">
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of (items ? items.slice(0,5): []);let i = index">
            <span class="ng-value-label">{{item.value}}</span>
            <span class="ng-value-icon right" aria-hidden="true">,</span>
          </div>
          <div class="ng-value" *ngIf="items.length > 5">
            <span class="ng-value-label">{{items.length - 5}} more...</span>
          </div>
        </ng-template>
      </ng-select>

      <div class="option" *ngIf="this.selectedSymptoms.length === 5 && select.focused">
        five symptoms limit reached! click Search
      </div>

    </div>
    <!-- search button -->
    <div class="align-center">
      <button (click)="openQuestionModal(selectedSymptoms)" class="custom-button">
        Search
      </button>
    </div>
  </div>
</div>