/* You can add global styles to this file, and also import other style files */

body {
    margin: 0%;
    font-family: Muli;
}

.col-6 {
    margin-right: -25px;
}

.custom-text {
    font-family: Muli;
    font-weight: 800;
}

.align-center {
    width: 100%!important;
    text-align: center!important;
}

.custom-button {
    margin-left: auto;
    margin-right: auto;
}

app-medicine-model {
    height: auto;
    overflow: auto;
}

.main-classes .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    text-align: left;
    margin-left: 5px
}

.main-classes .day-select .ng-dropdown-panel {
    margin-left: -5px;
    margin-top: 25px;
}