/* You can add global styles to this file, and also import other style files */

body {
    margin: 0%;
    font-family: Muli;
}

.custom-text {
    font-family: Muli;
    font-weight: 800;
}

.align-center {
    width: 100%!important;
    text-align: center!important;
}

.custom-button {
    margin-left: auto;
    margin-right: auto;
}

app-medicine-model {
    height: auto;
    overflow: auto;
}